name: Deploy Website
on:
  push:
    branches: ["main"] # Tự động chạy khi bạn push code vào nhánh main
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install and Build
        run: |
          npm install
          npm run build
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Thư mục Vite tạo ra sau khi build
          branch: gh-pages # Đẩy sản phẩm cuối cùng vào nhánh này
