name: Deploy Vite App

on:
  push:
    branches: ["main"] # Chạy khi bạn push code vào nhánh main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Thư mục chứa code sau khi build của Vite
          branch: gh-pages # Trang web sẽ được lưu ở nhánh này
